tmp/*
temp/*
Session.vim
build
dist/
_build

IPython/frontend/html/notebook/static/mathjax
*.py[co]
build
_build
.build
*.egg-info
*~
*.bak
*.swp
*.swo
.commitmsg
*.aux
*.toc
*.log
*.bbl

# not import _demo_userguidefile
demo_userguidefile.py
# Jupyter notebook 
pycsamt_user_guide/

*~
*.py[cod]
*.pyc
*.pyo

__pycache__
dist
sdist
*.so
pip-log.txt
.DS_Store
*.egg
*.egg-info

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# PyCharm / IntelliJ
*.iml
.idea
*.ipr

# Eclipse
.project
.pydevproject

# local private
_Private
_private
private
localsandpit
localdir

tmp
temp
nohup*
*.mine
OldWorks

# exempt logfiles 
logs
*.log


# spyder project extension
__pycache__/
.spyproject/config/
.spyproject/

*.pylind.d
*$py.class
*.spyproject/
.eggs/
*.ini.bak
*.cpython-37.pyc

# ignore description project
project_description.md 



#libraries
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec
.pypirc

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# spyder stuff:
*.log
.spyproject/config/backups/workspace.ini.bak
.spyproject/config/workspace.ini
.pylint.d/

# Sphinx documentation
docs/_build/
docs/man/*.gz
docs/source/api/generated
docs/gh-pages
docs/_build*
docs/_themes
docs/_static
docs/_templates 

# PyBuilder
target/

# pyenv python configuration file
.python-version

# virtual-environ 
venv/

# jupyther notebooks tests 
.ipynb_checkpoints
#*.png
pycsamt_user_guide/

# exclude data files 
# data/_conffiles/

# ignore quick examples docs 
#quick_examples/
_logfile/
add.info/
untitled0.py
untitled1.py
untitled2.py 
untitled3.py
pme.en.csv.csv
mt/
data/