
graft docs


include LICENSE.md
include README.md

include pycsamt/utils/epsg.npy
include .travis.yml .readthedocs.yml 

exclude project_description.md

global-exclude *.py[cod] __pycache__/* *.so *.dylib .coverage .coverage.* 