# Documentation build requirements for pyCSAMT v2
sphinx>=7.2
pydata-sphinx-theme>=0.15
numpydoc>=1.7
myst-parser>=2.0
sphinx-copybutton>=0.5
sphinx-toggleprompt>=0.6
sphinx-design>=0.5
sphinx-gallery>=0.16
sphinx-autodoc-typehints>=2.0
sphinx-autobuild>=2024.2
